<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>チャット</title>
    <style>
        input {display:block;}
        ul {list-style: none;}
    </style>
</head>
<body>
    <ul id="messages"></ul>
    WebSocketのチャットアプリ
    <form id="chatbox">
        <textarea></textarea>
        <input type="submit" value="送！信！"/>
    </form>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(function (){
        let socket =null;
        var msgBox=$("#chatbox textarea");
        var messages=$("#messages");
        $("#chatbox").submit(function (){
            if (!msgBox.val()){
                return false;
            }
            if (!socket){
                alert("エラー: WebSocket通信が行われていません");
                return false;
            }
            socket.send(msgBox.val());
            msgBox.val("");
            return false;
        });
        if (!window["WebSocket"]){
            alert("エラー: WebSocketに未対応")
        }else{
            socket=new WebSocket("ws://localhost:8080/room");
            socket.onclose=function (){
                alert("接続終了！")
            }
            socket.onmessage=function (e){
                messages.append($("<li>").text(e.data));
            }
        }
    });
</script>
</body>
</html>
